--
# Enable NOPASSWD on the server for those in the 'admin' group
#

- hosts: test-servers
  become: yes 
  become_method: sudo 

  tasks:
   - name: Set Sudoers to NOPASSWORD for those in admin group
     lineinfile: "dest=/etc/sudoers state=present regexp='^%admin' line='%admin ALL=(ALL) NOPASSWD: ALL'"
